A sports scientist wants to analyze if three different training programs (A, B, and C) lead to different average sprint speeds (in m/s) among sprinters.

The sprint speed (in m/s) of randomly selected athletes from each program are:

Program A: [8.4, 8.1, 8.3, 8.5, 8.0]

Program B: [8.7, 8.9, 8.6, 8.8, 8.5]

Program C: [8.2, 8.0, 8.1, 8.3, 7.9]

At a 5% significance level, test if there is any significant difference in the average sprint speeds across the training programs.

In [1]:
# H₀: μ₁ = μ₂ = μ₃ (All groups have the same mean)

# H₁: At least one group has a different mean

In [3]:
import numpy as np

In [5]:
from scipy import stats

In [10]:
a =  [8.4, 8.1, 8.3, 8.5, 8.0]
b =  [8.7, 8.9, 8.6, 8.8, 8.5]
c =  [8.2, 8.0, 8.1, 8.3, 7.9]

In [12]:
f_stats, p_value = stats.f_oneway(a,b,c)

In [14]:
print(f_stats, p_value)

15.569892473118252 0.00046325447314293235

In [16]:
# manual

In [22]:
mean_a = np.mean(a)
mean_b = np.mean(b)
mean_c = np.mean(c)
print(mean_a, mean_b, mean_c)

8.26 8.7 8.099999999999998

In [26]:
total_mean = (mean_a + mean_b + mean_c) / 3
print(total_mean)

8.353333333333333

In [28]:
# Calculate Sum of Squares Between Groups (SSB)

In [30]:
n = 5

In [36]:
ssb = n*((mean_a - total_mean)**2 + (mean_b - total_mean)**2 + (mean_c - total_mean)**2)

In [38]:
ssb

0.9653333333333365

In [40]:
# Calculate Sum of Squares Within Groups (SSW)

In [42]:
a =  [8.4, 8.1, 8.3, 8.5, 8.0]
b =  [8.7, 8.9, 8.6, 8.8, 8.5]
c =  [8.2, 8.0, 8.1, 8.3, 7.9]

In [44]:
ssw1 = (8.4 - mean_a)**2 + ( 8.1 - mean_a)**2 + (8.3 - mean_a)**2 + (8.5 - mean_a)**2 + (8.0 - mean_a)**2

In [46]:
ssw2 = (8.7 - mean_b)**2 + (8.9 - mean_b)**2 + (8.6 - mean_b)**2 +  (8.8 - mean_b)**2 + (8.5 - mean_b)**2

In [48]:
ssw3 = (8.2 - mean_c)**2 + (8.0 - mean_c)**2 + (8.1 - mean_c)**2 + (8.3 - mean_c)**2 + (7.9 - mean_c)**2

In [50]:
ssw = ssw1 + ssw2 + ssw3

In [52]:
ssw

0.37200000000000066

In [54]:
df_between = 3 - 1

In [58]:
df_within = 15 - 3

In [60]:
 # Calculate Mean Squares

In [62]:
msb = ssb / df_between

In [64]:
msw = ssw / df_within

In [66]:
f_stats = msb/msw

In [68]:
f_stats

15.569892473118303

In [70]:
from scipy.stats import f

alpha = 0.05  # Significance level
df_between = 2  # numerator degrees of freedom
df_within = 12  # denominator degrees of freedom

f_critical = f.ppf(1 - alpha, df_between, df_within)
print(f_critical)

3.8852938346523933

A basketball analytics firm is evaluating whether player performance differs based on the position played. They collect average points per game for a random sample of players from three positions:

Guards: 15, 18, 14, 20, 17

Forwards: 22, 25, 19, 24, 23

Centers: 13, 15, 16, 14, 12

At a 5% significance level, test whether there is a significant difference in the average points per game across the three positions using ANOVA.

In [3]:
import numpy as np
from scipy import stats

In [1]:
a = [15,18, 14, 20, 17]
b = [22, 25, 19, 24, 23]
c = [13, 15, 16, 14, 12]

In [5]:
f_stats, p_value = stats.f_oneway(a,b,c)

In [7]:
print(f_stats, p_value)

21.37777777777779 0.00011079453471211849

In [11]:
df1 = 2
df2 = 12

In [13]:
f_critical = stats.f.ppf(1 - 0.05, df1, df2)

In [15]:
f_critical

3.8852938346523933

In [17]:
mean_a = np.mean(a)
mean_b = np.mean(b)
mean_c = np.mean(c)

In [19]:
total = (mean_a + mean_b + mean_c)/3

In [21]:
total

17.8

In [23]:
a = [15,18, 14, 20, 17]
b = [22, 25, 19, 24, 23]
c = [13, 15, 16, 14, 12]

In [25]:
df_between = 3-1
df_within = 15 - 3

In [27]:
ssb = 5*((mean_a - total)**2 + (mean_b - total)**2 + (mean_c - total)**2)

In [29]:
ssb

192.40000000000006

In [33]:
ssw1 = (15 - mean_a)**2+(18-mean_a)**2+( 14 - mean_a)**2 +  (20 - mean_a)**2 + ( 17 - mean_a)**2

In [35]:
ssw2 = (22 - mean_b)**2 + (25 - mean_b)**2 + (19 - mean_b)**2 + (24 - mean_b)**2 + (23 - mean_b)**2

In [37]:
ssw3 = (13 - mean_c)**2 + (15 - mean_c)**2 + (16 - mean_c)**2 + (14 - mean_c)**2 + (12 - mean_c)**2

In [39]:
ssw = ssw1 + ssw2 + ssw3

In [41]:
ssw

54.0

In [43]:
msb = ssb/df_between
msw = ssw/df_within

In [47]:
f_stats = msb / msw

In [49]:
ModelA = [7, 8, 9, 6, 8]

ModelB =  [6, 7, 7, 6, 5]

ModelC = [9, 8, 10, 9, 8]

In [51]:
f_stats, p_value = stats.f_oneway(ModelA, ModelB, ModelC)

In [53]:
print(f_stats, p_value)

9.407407407407407 0.0034876275808776013

In [55]:
df1 = 3-1
df2 = 15 - 3

In [57]:
f_critical = stats.f.ppf((1 - 0.05/2),df1,df2)

In [59]:
f_critical

5.095867165783942

In [63]:
print(f_stats, p_value, f_critical)

9.407407407407407 0.0034876275808776013 5.095867165783942

In [65]:
 # collect customer satisfaction scores (out of 10) from recent buyers:

Nike =  [8.2, 7.9, 8.5, 8.0, 7.8]

Adidas = [7.2, 6.9, 7.5, 7.1, 6.8]

Puma = [8.4, 8.6, 8.1, 8.7, 8.3]

In [67]:
f_stats, p_value = stats.f_oneway(Nike,Adidas, Puma)

In [69]:
print(f_stats, p_value)

33.7129186602871 1.1893691368131833e-05

In [71]:
df1 = 3-1
df2 = 15-3

In [73]:
f_critical = stats.f.ppf(1 - 0.5, df1,df2)

In [75]:
f_critical

0.7347722898562379

In [77]:
print(f_stats, p_value, f_critical)

33.7129186602871 1.1893691368131833e-05 0.7347722898562379

In [9]:
import numpy as np
from scipy import stats
import pandas as pd

In [3]:
# Repeated measure anova test

In [5]:
data = {
    "Player": [1, 2, 3, 4, 5]*3,
    "Time": ["Before"]*5 + ["Mid"]*5 + ["After"]*5,
    "Sprint": [5.4, 5.6, 5.5, 5.8, 5.7,  # Before
               5.2, 5.4, 5.3, 5.5, 5.5,  # Mid
               5.1, 5.3, 5.2, 5.4, 5.3]  # After
}

In [11]:
df = pd.DataFrame(data)

In [13]:
df

    Player    Time  Sprint
0        1  Before     5.4
1        2  Before     5.6
2        3  Before     5.5
3        4  Before     5.8
4        5  Before     5.7
5        1     Mid     5.2
6        2     Mid     5.4
7        3     Mid     5.3
8        4     Mid     5.5
9        5     Mid     5.5
10       1   After     5.1
11       2   After     5.3
12       3   After     5.2
13       4   After     5.4
14       5   After     5.3

In [15]:
from statsmodels.stats.anova import AnovaRM

In [17]:
anova = AnovaRM(df, depvar='Sprint', subject = 'Player', within=['Time']).fit()

In [19]:
print(anova)

              Anova
==================================
     F Value  Num DF Den DF Pr > F
----------------------------------
Time 127.4286 2.0000 8.0000 0.0000
==================================

In [21]:
df = pd.read_csv('Copy of Diet.csv')

In [23]:
df

   gender Diet  weight  weight6weeks
0       M    B      60          60.0
1       M    B     103         103.0
2       F    A      58          54.2
3       F    A      60          54.0
4       F    A      64          63.3
..    ...  ...     ...           ...
73      M    C      83          80.2
74      M    C      84          79.9
75      M    C      85          79.7
76      M    C      87          77.8
77      M    C      88          81.9

[78 rows x 4 columns]

In [25]:
data = {
    'Player': [1, 2, 3, 4, 5, 6]*3,
    'Condition': ['Fresh']*6 + ['Moderate']*6 + ['Exhausted']*6,
    'Accuracy': [90, 88, 92, 89, 91, 87,    # Fresh
                 85, 84, 87, 83, 86, 82,    # Moderate
                 80, 79, 82, 78, 81, 76]    # Exhausted
}

dx = pd.DataFrame(data)

In [27]:
dx

    Player  Condition  Accuracy
0        1      Fresh        90
1        2      Fresh        88
2        3      Fresh        92
3        4      Fresh        89
4        5      Fresh        91
5        6      Fresh        87
6        1   Moderate        85
7        2   Moderate        84
8        3   Moderate        87
9        4   Moderate        83
10       5   Moderate        86
11       6   Moderate        82
12       1  Exhausted        80
13       2  Exhausted        79
14       3  Exhausted        82
15       4  Exhausted        78
16       5  Exhausted        81
17       6  Exhausted        76

In [29]:
anova = AnovaRM(dx, depvar='Accuracy',subject = 'Player', within = ['Condition']).fit()

In [31]:
print(anova)

                 Anova
========================================
          F Value  Num DF  Den DF Pr > F
----------------------------------------
Condition 820.8824 2.0000 10.0000 0.0000
========================================

A fitness researcher wants to study the effect of diet type and training program on muscle gain.
Participants are assigned to one of two diets (High-Protein, Standard) and one of two training programs (Strength, Endurance).
After 8 weeks, muscle gain (in kg) is recorded.

Here’s the data (muscle gain):

In [5]:
import numpy as np
from scipy import stats
import pandas as pd

In [7]:
data = {
    'Muscle_Gain': [2.1, 2.5, 2.7, 1.9, 2.0, 2.1, 1.8, 2.0, 2.2, 1.3, 1.4, 1.5],
    'Diet': ['High-Protein']*6 + ['Standard']*6,
    'Training': ['Strength']*3 + ['Endurance']*3 + ['Strength']*3 + ['Endurance']*3
}

df = pd.DataFrame(data)

In [9]:
df

    Muscle_Gain          Diet   Training
0           2.1  High-Protein   Strength
1           2.5  High-Protein   Strength
2           2.7  High-Protein   Strength
3           1.9  High-Protein  Endurance
4           2.0  High-Protein  Endurance
5           2.1  High-Protein  Endurance
6           1.8      Standard   Strength
7           2.0      Standard   Strength
8           2.2      Standard   Strength
9           1.3      Standard  Endurance
10          1.4      Standard  Endurance
11          1.5      Standard  Endurance

In [17]:
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [13]:
anova = ols('Muscle_Gain ~ C(Diet) + C(Training) + C(Diet):C(Training)', data=df).fit()

In [19]:
anova_table = sm.stats.anova_lm(anova, typ=2)

In [21]:
print(anova_table)

                       sum_sq   df          F    PR(>F)
C(Diet)              0.800833  1.0  20.891304  0.001824
C(Training)          0.800833  1.0  20.891304  0.001824
C(Diet):C(Training)  0.020833  1.0   0.543478  0.482054
Residual             0.306667  8.0        NaN       NaN

In [23]:
anova = ols('Muscle_Gain ~ C(Diet) + C(Training) + C(Diet):C(Training)', data = df).fit()

In [25]:
anova_table = sm.stats.anova_lm(anova, typ=2)

In [27]:
anova_table

                       sum_sq   df          F    PR(>F)
C(Diet)              0.800833  1.0  20.891304  0.001824
C(Training)          0.800833  1.0  20.891304  0.001824
C(Diet):C(Training)  0.020833  1.0   0.543478  0.482054
Residual             0.306667  8.0        NaN       NaN

A sports scientist wants to study the effect of training type and diet type on endurance score of athletes.

There are 2 training types: HIIT and Strength

There are 2 diet types: High-Carb and High-Protein

5 athletes were tested for each combination, and their endurance scores (out of 100) were recorded.

In [29]:
data = {
    'Training':['HIIT']*10 + ['Strength']*10,
    'Diet':['High-Carb']*5 + ['High-Protein']*5 + ['High-Carb']*5 + ['High-Protein']*5,
    'Endurance':[85,88,87,86,89,91,92,90,93,94,80,81,79,82,83,85,87,86,88,89]}

In [31]:
df = pd.DataFrame(data)

In [33]:
df

    Training          Diet  Endurance
0       HIIT     High-Carb         85
1       HIIT     High-Carb         88
2       HIIT     High-Carb         87
3       HIIT     High-Carb         86
4       HIIT     High-Carb         89
5       HIIT  High-Protein         91
6       HIIT  High-Protein         92
7       HIIT  High-Protein         90
8       HIIT  High-Protein         93
9       HIIT  High-Protein         94
10  Strength     High-Carb         80
11  Strength     High-Carb         81
12  Strength     High-Carb         79
13  Strength     High-Carb         82
14  Strength     High-Carb         83
15  Strength  High-Protein         85
16  Strength  High-Protein         87
17  Strength  High-Protein         86
18  Strength  High-Protein         88
19  Strength  High-Protein         89

In [35]:
anova = ols('Endurance ~ C(Training) + C(Diet)', data=df).fit()

In [44]:
anova_table = sm.stats.anova_lm(anova, typ=2)
print(anova_table)

             sum_sq    df          F        PR(>F)
C(Training)  151.25   1.0  62.333333  4.366127e-07
C(Diet)      151.25   1.0  62.333333  4.366127e-07
Residual      41.25  17.0        NaN           NaN

In [46]:
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from statsmodels.formula.api import ols
import statsmodels.api as sm

Great choice! Let's continue with Repeated Measures ANOVA, which is perfect for situations where the same subjects are measured multiple times under different conditions or time points.

🏋️ Problem Statement:
A sports scientist wants to study how a new diet plan affects athlete performance over time. She records the VO2 max (a measure of aerobic fitness) of 6 athletes at three different time points:

Before diet

After 1 month

After 2 months

Here is the data:

In [6]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.stats.anova import AnovaRM

# Prepare the data
data = {
    'Athlete': ['A', 'B', 'C', 'D', 'E', 'F'],
    'Before': [45, 44, 46, 43, 44, 45],
    '1_Month': [47, 46, 47, 45, 46, 47],
    '2_Months': [50, 49, 51, 47, 48, 49]
}

df = pd.DataFrame(data)

# Convert to long format
df_long = pd.melt(df, id_vars='Athlete', value_vars=['Before', '1_Month', '2_Months'],
                  var_name='Time', value_name='VO2_Max')

# Repeated Measures ANOVA
anova = AnovaRM(data=df_long, depvar='VO2_Max', subject='Athlete', within=['Time'])
result = anova.fit()
print(result)

               Anova
===================================
     F Value  Num DF  Den DF Pr > F
-----------------------------------
Time 162.6471 2.0000 10.0000 0.0000
===================================

In [8]:
df

  Athlete  Before  1_Month  2_Months
0       A      45       47        50
1       B      44       46        49
2       C      46       47        51
3       D      43       45        47
4       E      44       46        48
5       F      45       47        49

In [10]:
df_long = pd.melt(df,id_vars = 'Athlete', value_vars=['Before', '1_Month','2_Months'],
                  var_name = 'Time', value_name='VO2_Max')

In [16]:
anova = AnovaRM(df_long, depvar='VO2_Max', subject='Athlete', within=['Time'])

In [20]:
result = anova.fit()

In [22]:
print(result)

               Anova
===================================
     F Value  Num DF  Den DF Pr > F
-----------------------------------
Time 162.6471 2.0000 10.0000 0.0000
===================================

A sports psychologist wants to test whether a mental toughness training program improves athletes' focus levels over time.

She assesses focus scores (on a 10-point scale) of 8 athletes at three time points:

Before training

After 2 weeks

After 4 weeks

The scores are as follows:

| Athlete | Before | Week 2 | Week 4 |
| ------- | ------ | ------ | ------ |
| A       | 6.5    | 7.0    | 8.0    |
| B       | 6.0    | 6.5    | 7.5    |
| C       | 5.5    | 6.0    | 6.5    |
| D       | 6.0    | 6.5    | 7.0    |
| E       | 5.0    | 6.0    | 7.0    |
| F       | 6.0    | 6.8    | 7.5    |
| G       | 5.5    | 6.2    | 7.0    |
| H       | 6.2    | 6.5    | 7.2    |

In [24]:
data = {'Athlete':['A','B','C','D','E','F','G','H'],
        'Before':[6.5,6.0,5.5,6.0,5.0,6.0,5.5,6.2],
        'Week 2':[7.0,6.5,6.0,6.5,6.0,6.8,6.2,6.5],
        'Week 4':[8.0,7.5,6.5,7.0,7.0,7.5,7.0,7.2]}

In [28]:
df = pd.DataFrame(data)

In [33]:
df_long = pd.melt(df, id_vars='Athlete', value_vars=['Before', 'Week 2', 'Week 4'],
                  var_name='Month', value_name='Score')

In [35]:
anova = AnovaRM(df_long, depvar = 'Score', subject='Athlete',within=['Month'])

In [37]:
result = anova.fit()

In [39]:
print(result)

               Anova
====================================
      F Value  Num DF  Den DF Pr > F
------------------------------------
Month 104.3595 2.0000 14.0000 0.0000
====================================

A sports analytics company wants to understand how training type and diet plan affect the endurance level (measured in minutes of continuous running) of athletes.
They conduct an experiment with athletes assigned to one of two training types (HIIT, Endurance) and one of two diet plans (High Carb, High Protein). Here is the data:

| Athlete | Training\_Type | Diet\_Plan   | Endurance |
| ------- | -------------- | ------------ | --------- |
| A1      | HIIT           | High Carb    | 42        |
| A2      | HIIT           | High Carb    | 45        |
| A3      | HIIT           | High Protein | 38        |
| A4      | HIIT           | High Protein | 40        |
| A5      | Endurance      | High Carb    | 48        |
| A6      | Endurance      | High Carb    | 50        |
| A7      | Endurance      | High Protein | 43        |
| A8      | Endurance      | High Protein | 46        |

In [62]:
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [64]:
data = {'Athlete':['A1','A2','A3','A4','A5','A6','A7','A8'],
        'Training_type':['HIIT']*4 + ['Endurance']*4,
        'Diet_plan':['High Carb']*2 + ['High Protein']*2+ ['High Carb']*2 + ['High Protein']*2,
        'Endurance':[42,45,38,40,48,50,43,46]}

In [66]:
df = pd.DataFrame(data)

In [68]:
df

  Athlete Training_type     Diet_plan  Endurance
0      A1          HIIT     High Carb         42
1      A2          HIIT     High Carb         45
2      A3          HIIT  High Protein         38
3      A4          HIIT  High Protein         40
4      A5     Endurance     High Carb         48
5      A6     Endurance     High Carb         50
6      A7     Endurance  High Protein         43
7      A8     Endurance  High Protein         46

In [70]:
anova = ols('Endurance ~ C(Training_type) + C(Diet_plan)',data = df).fit()

In [74]:
print(anova)

<statsmodels.regression.linear_model.RegressionResultsWrapper object at 0x000001908C2F9F70>

In [76]:
anova_table = sm.stats.anova_lm(anova, typ=2)
print(anova_table)

                  sum_sq   df          F    PR(>F)
C(Training_type)    60.5  1.0  23.269231  0.004782
C(Diet_plan)        40.5  1.0  15.576923  0.010886
Residual            13.0  5.0        NaN       NaN

A basketball coach wants to study the effects of training intensity and sleep duration on player reaction time (measured in milliseconds).

He collects data from players assigned to:

Training Intensity: Low, High

Sleep Duration: 6 hours, 8 hours

Each combination has multiple player results.

| Training\_Intensity | Sleep\_Hours | Reaction\_Time |
| ------------------- | ------------ | -------------- |
| Low                 | 6            | 290            |
| Low                 | 6            | 310            |
| Low                 | 8            | 270            |
| Low                 | 8            | 260            |
| High                | 6            | 250            |
| High                | 6            | 240            |
| High                | 8            | 230            |
| High                | 8            | 220            |

In [78]:
data = {'Training_intensity':['Low']*4 + ['High']*4,
        'Sleep_hours':[6,6,8,8,6,6,8,8],
        'Reaction_time':[290,310,270,260,250,240,230,220]}

In [80]:
df = pd.DataFrame(data)

In [82]:
df

  Training_intensity  Sleep_hours  Reaction_time
0                Low            6            290
1                Low            6            310
2                Low            8            270
3                Low            8            260
4               High            6            250
5               High            6            240
6               High            8            230
7               High            8            220

In [84]:
anova = ols('Reaction_time ~ C(Training_intensity) * C(Sleep_hours)',data = df).fit()

In [86]:
anova_table = sm.stats.anova_lm(anova, typ=2)

In [88]:
anova_table

                                      sum_sq   df          F    PR(>F)
C(Training_intensity)                 4512.5  1.0  51.571429  0.001991
C(Sleep_hours)                        1512.5  1.0  17.285714  0.014173
C(Training_intensity):C(Sleep_hours)   112.5  1.0   1.285714  0.320188
Residual                               350.0  4.0        NaN       NaN

A sports psychologist is studying how training type and diet plan affect muscular endurance (measured in seconds until fatigue).

There are two factors:

Training Type: Weightlifting, CrossFit, Bodyweight

Diet Plan: High Protein, Balanced, Low Carb

She collects endurance data from 27 athletes, 3 per group combination:

| Training Type | Diet Plan    | Endurance (seconds) |
| ------------- | ------------ | ------------------- |
| Weightlifting | High Protein | 115, 120, 118       |
| Weightlifting | Balanced     | 110, 112, 109       |
| Weightlifting | Low Carb     | 100, 98, 102        |
| CrossFit      | High Protein | 125, 130, 127       |
| CrossFit      | Balanced     | 119, 122, 121       |
| CrossFit      | Low Carb     | 108, 105, 107       |
| Bodyweight    | High Protein | 118, 115, 116       |
| Bodyweight    | Balanced     | 112, 114, 113       |
| Bodyweight    | Low Carb     | 104, 103, 101       |

In [100]:
data = {'Training_Type':['Weightlifting']*9 + ['CrossFit']*9 + ['Bodyweight']*9,
        'Diet_Plan':['High Protein']*3 + ['Balanced']*3 + ['Low Carb']*3 + ['High Protein']*3 + ['Balanced']*3 + ['Low Carb']*3
        + ['High Protein']*3 + ['Balanced']*3 + ['Low Carb']*3,
        'Endurance':[115, 120, 118, 110, 112, 109, 100, 98, 102, 125, 130, 127, 119, 122, 121, 108, 105, 107, 118, 115, 116,  112, 114, 113,  104, 103, 101]}

In [102]:
df = pd.DataFrame(data)

In [104]:
df

    Training_Type     Diet_Plan  Endurance
0   Weightlifting  High Protein        115
1   Weightlifting  High Protein        120
2   Weightlifting  High Protein        118
3   Weightlifting      Balanced        110
4   Weightlifting      Balanced        112
5   Weightlifting      Balanced        109
6   Weightlifting      Low Carb        100
7   Weightlifting      Low Carb         98
8   Weightlifting      Low Carb        102
9        CrossFit  High Protein        125
10       CrossFit  High Protein        130
11       CrossFit  High Protein        127
12       CrossFit      Balanced        119
13       CrossFit      Balanced        122
14       CrossFit      Balanced        121
15       CrossFit      Low Carb        108
16       CrossFit      Low Carb        105
17       CrossFit      Low Carb        107
18     Bodyweight  High Protein        118
19     Bodyweight  High Protein        115
20     Bodyweight  High Protein        116
21     Bodyweight      Balanced        112
22     Bodyweight      Balanced        114
23     Bodyweight      Balanced        113
24     Bodyweight      Low Carb        104
25     Bodyweight      Low Carb        103
26     Bodyweight      Low Carb        101

In [108]:
anova = ols('Endurance ~ C(Training_Type) + C(Diet_Plan) + C(Training_Type):C(Diet_Plan)',data = df).fit()

In [110]:
anova_table = sm.stats.anova_lm(anova, typ =2)

In [112]:
anova_table

                                    sum_sq    df           F        PR(>F)
C(Training_Type)                413.629630   2.0   63.454545  7.040311e-09
C(Diet_Plan)                   1402.074074   2.0  215.090909  2.718720e-13
C(Training_Type):C(Diet_Plan)    42.814815   4.0    3.284091  3.459541e-02
Residual                         58.666667  18.0         NaN           NaN